@if (loading) {
  <app-throbber></app-throbber>
    } @else {
  <div class="fields-wrapper" [formGroup]="form">

    <div class="field-wrapper" [hidden]="active !== 0" formGroupName="0">
    <div class="field">
    <div>
    <p class="label">Выберите кота</p>
    @if (getControl(0, 'cat').errors?.['required'] && getControl(0, 'cat').touched) {
  <p class="error">Поле обязательно для заполнения</p>
  }
  </div>
  <select formControlName="cat" (invalid)="getControl(0, 'cat').invalid">
@for (option of optionsCat; track $index) {
<option [value]="getItem('cat', $index)">{{option.text}}</option>
}
</select>
</div>
<div class="field">
<div>
<p class="label">Имя для заказа</p>
@if (getControl(0, 'orderName').errors?.['required'] && getControl(0, 'orderName').touched) {
<p class="error">Поле обязательно для заполнения</p>
}
@if (getControl(0, 'orderName').errors?.['maxlength'] && getControl(0, 'orderName').touched) {
<p class="error">Максимальная длина 100 символов</p>
}
</div>
<input formControlName="orderName" placeholder="Имя заказчика"
(invalid)="getControl(0, 'orderName').invalid">
</div>
<div class="field">
<div>
<p class="label">Телефон для связи</p>
@if (getControl(0, 'telephone').errors && getControl(0, 'telephone').touched) {
@if (getControl(0, 'telephone').errors?.['required']) {
<p class="error">Поле обязательно для заполнения</p>
}
@if (getControl(0, 'telephone').errors?.['pattern']) {
<p class="error">Введите 11 цифр</p>
}
}
</div>
<input formControlName="telephone" placeholder="12345678901"
(invalid)="getControl(0, 'telephone').invalid">
</div>
<div class="field">
<div>
<p class="label">Email для связи</p>
@if (getControl(0, 'email').errors?.['pattern'] && getControl(0, 'email').touched) {
<p class="error">Некорректный Email</p>
}
</div>
<input formControlName="email" type="email" placeholder="abc@dfg.ru"
(invalid)="getControl(0, 'email').invalid">
</div>
</div>

<div class="field-wrapper" [hidden]="active !== 1" formGroupName="1">
<div class="field">
<div>
<p class="label">Город</p>
@if (getControl(1, 'city').errors?.['required'] && getControl(1, 'city').touched) {
<p class="error">Поле обязательно для заполнения</p>
}
</div>
<select formControlName="city" (invalid)="getControl(1, 'city').invalid">
@for (option of cityOptions; track $index) {
<option [value]="getItem('city', $index)">{{option.text}}</option>
}
</select>
</div>
<div class="field">
<div>
<p class="label">Улица</p>
@if (getControl(1, 'street').errors?.['required'] && getControl(1, 'street').touched) {
<p class="error">Поле обязательно для заполнения</p>
}
</div>
<select formControlName="street" (invalid)="getControl(1, 'street').invalid">
@for (option of streetOptions; track $index) {
<option [value]="getItem('street', $index)">{{option.text}}</option>
}
</select>
</div>
<div class="field">
<p class="label">Этаж (необязательно)</p>
<input formControlName="floor" type="number" placeholder="Например: 5">
</div>
<div class="field">
<p class="label">Подъезд (необязательно)</p>
<input formControlName="entrance" placeholder="Например: 2">
</div>
</div>

<div class="field-wrapper" [hidden]="active !== 2" formGroupName="2">
<div class="field">
<div>
<p class="label">Магазин</p>
@if (getControl(2, 'shop').errors?.['required'] && getControl(2, 'shop').touched) {
<p class="error">Поле обязательно для заполнения</p>
}
</div>
<select formControlName="shop" (invalid)="getControl(2, 'shop').invalid">
@for (shop of shopOptions; track $index) {
<option [value]="getItem('shop', $index)">{{shop.text}}</option>
}
</select>
</div>
<div class="field">
<div>
<p class="label">Тип доставки</p>
@if (getControl(2, 'deliveryType').errors?.['required'] && getControl(2, 'deliveryType').touched) {
<p class="error">Поле обязательно для заполнения</p>
}
</div>
<select formControlName="deliveryType" (invalid)="getControl(2, 'deliveryType').invalid">
@for (type of deliveryTypeOptions; track $index) {
<option [value]="getItem('deliveryType', $index)">{{type.text}}</option>
}
</select>
</div>
<div class="field">
<div>
<p class="label">Дата доставки</p>
@if (getControl(2, 'deliveryDate').errors && getControl(2, 'deliveryDate').touched) {
@if (getControl(2, 'deliveryDate').errors?.['required']) {
<p class="error">Поле обязательно для заполнения</p>
}
@if (getControl(2, 'deliveryDate').errors?.['minDate']) {
<p class="error">Выберите дату в будущем</p>
}
}
</div>
<input formControlName="deliveryDate" type="date" (invalid)="getControl(2, 'deliveryDate').invalid">
</div>
<div class="field">
<div>
<p class="label">Время доставки</p>
@if (getControl(2, 'deliveryTime').errors?.['required'] && getControl(2, 'deliveryTime').touched) {
<p class="error">Поле обязательно для заполнения</p>
}
</div>
<input formControlName="deliveryTime" type="time" list="delivery_time_list" (invalid)="getControl(2, 'deliveryTime').invalid">
<datalist id="delivery_time_list">
<option value="09:00">
<option value="10:00">
<option value="11:00">
<option value="12:00">
<option value="13:00">
<option value="14:00">
<option value="15:00">
<option value="16:00">
<option value="17:00">
<option value="18:00">
<option value="19:00">
<option value="20:00">
</datalist>
</div>
<div class="field">
<div>
<p class="label">Продукты</p>
@if (getControl(2, 'products').errors?.['required'] && getControl(2, 'products').touched) {
<p class="error">Поле обязательно для заполнения</p>
}
</div>
<select formControlName="products" multiple (invalid)="getControl(2, 'products').invalid">
@for (product of productOptions; track $index) {
<option [value]="getItem('product', $index)">{{product.text}}</option>
}
</select>
</div>
</div>

<div class="field-wrapper" [hidden]="active !== 3" formGroupName="3">
<div class="field">
<p class="label">Комментарий к заказу (необязательно)</p>
<textarea formControlName="comment" placeholder="Например: Оставить у двери, связаться по телефону за 10 минут до приезда"></textarea>
</div>
</div>

@if (active === 4) {
<app-check-info [data]="getResult"></app-check-info>
}
</div>
}
