.container {
  max-width: 900px;
}

.service-wrapper {
  margin-top: 48px;
}

.form-wrapper {
  margin-top: 48px;
}

.buttons-wrapper {
  margin-top: 48px;
  display: flex;
  justify-content: space-between;
}
