<!--Файл не трогаем-->

<a class="service shadow-block" [routerLink]="'/service/' + service.mnemonic">
  <div class="flex-container align-items-center">
    <img class="icon" [src]="'../../assets/png/cats/' + service.icon">
    <div>
      <h5>{{service.title}}</h5>
      @for(tag of service.categories; track $index; let f = $first) {
        @if (!f) {
          <span>, </span>
        }
        <p class="tag">{{tag.name}}</p>
      }
    </div>
  </div>
  <p class="description">{{service.description}}</p>
</a>
