<!--Файл не трогаем-->

@if (loading) {
  <app-throbber></app-throbber>
} @else {
  <div class="fields-wrapper" [formGroup]="form">
    <div class="field-wrapper" [hidden]="active !== 0" formGroupName="0">
      <div class="field">
        <div>
          <p class="label">Выберите кота</p>
          @if (getControl(0, 'cat').errors?.['required'] && getControl(0, 'cat').touched) {
            <p class="error">Поле обязательно для заполнения</p>
          }
        </div>
        <select formControlName="cat" (invalid)="getControl(0, 'cat').invalid">
          @for (option of optionsCat; track $index) {
            <option [value]="getItem('cat', $index)">{{option.text}}</option>
          }
        </select>
      </div>
      <div class="field">
        <div>
          <p class="label">Телефон для связи</p>
          @if (getControl(0, 'telephone').errors && getControl(0, 'telephone').touched) {
            @if (getControl(0, 'telephone').errors?.['required']) {
              <p class="error">Поле обязательно для заполнения</p>
            }
            @if (getControl(0, 'telephone').errors?.['pattern']) {
              <p class="error">Введите 11 цифр</p>
            }
          }
        </div>
        <input formControlName="telephone" placeholder="12345678901"
              (invalid)="getControl(0, 'telephone').invalid">
      </div>
      <div class="field">
        <div>
          <p class="label">Email для связи</p>
          @if (getControl(0, 'email').errors?.['pattern'] && getControl(0, 'email').touched) {
            <p class="error">Введите 11 цифр</p>
          }
        </div>
        <input formControlName="email" type="email" placeholder="abc@dfg.ru"
              (invalid)="getControl(0, 'email').invalid">
      </div>
    </div>
  <div class="field-wrapper" [hidden]="active !== 1" formGroupName="1">
    <div class="field">
      <div>
        <p class="label">Жалобы</p>
        @if (getControl(1, 'anamnesis').errors && getControl(1, 'anamnesis').touched) {
          @if (getControl(1, 'anamnesis').errors?.['required']) {
            <p class="error">Поле обязательно для заполнения</p>
          }
          @if (getControl(1, 'anamnesis').errors?.['max'] && getControl(1, 'anamnesis').touched) {
            <p class="error">Недопустимое количество символов</p>
          }
        }
      </div>
      <textarea formControlName="anamnesis" (invalid)="getControl(1, 'anamnesis').invalid"></textarea>
    </div>
  </div>
  <div class="field-wrapper" [hidden]="active !== 2" formGroupName="2">
    <div class="field">
      <div>
        <p class="label">Специалист</p>
        @if (getControl(2, 'doctor')?.errors?.['required'] && getControl(2, 'doctor')?.touched) {
          <p class="error">Поле обязательно для заполнения</p>
        }
      </div>
      <select formControlName="doctor" (invalid)="getControl(2, 'doctor').invalid">
        @for (doc of doctorOptions; track $index) {
          <option [value]="getItem('doc', $index)">{{doc.text}}</option>
        }
      </select>
    </div>
    <div class="field">
      <div>
        <p class="label">Дата</p>
        @if (getControl(2, 'date').errors && getControl(2, 'date').touched) {
          @if (getControl(2, 'date').errors?.['required']) {
            <p class="error">Поле обязательно для заполнения</p>
          }
          @if (getControl(2, 'date').errors?.['minDate']) {
            <p class="error">Выберите дату в будущем</p>
          }
        }
      </div>
      <input formControlName="date" type="date" (invalid)="getControl(2, 'date').invalid">
    </div>
    <div class="field">
      <div>
        <p class="label">Время</p>
        @if (getControl(2, 'time').errors?.['required'] && getControl(2, 'time').touched) {
          <p class="error">Поле обязательно для заполнения</p>
        }
      </div>
      <input formControlName="time" type="time" list="time_list" (invalid)="getControl(2, 'time').invalid">
      <datalist id="time_list">
        <option value="09:00">
        <option value="10:00">
        <option value="11:00">
        <option value="12:00">
        <option value="13:00">
        <option value="14:00">
        <option value="15:00">
        <option value="16:00">
        <option value="17:00">
        <option value="18:00">
      </datalist>
    </div>
  </div>

  @if (active === 3) {
    <app-check-info [data]="getResult"></app-check-info>
  }
</div>
}
