// Файл не трогаем

.banner-wrapper {
  flex: 0 0 100%;
  min-height: 174px;
  border-radius: 12px;
  padding: 12px;

  .image {
    height: 100px;
    margin-right: 12px;
  }

  .text {
    margin-top: 8px;
  }

  @media all and (min-width: 1216px) {
    padding: 12px 32px;

    .image {
      height: 150px;
      margin-right: 32px;
    }

    .text {
      margin-top: 16px;
    }
  }
}

::ng-deep {
  ngx-tcarousel {
    position: relative;
  }

  .d .carousel {
    position: absolute;
    bottom: 12px;
    right: 12px;
    margin: 0 !important;

    .timer {
      display: none;
    }

    .indicators .indicator {
      width: 20px !important;
      height: 20px !important;
      padding: 0 !important;

      &:before {
        border-radius: 50% !important;
        padding: 0 !important;
      }

      &.active:before {
        width: 20px !important;
        height: 20px !important;
        border: 2px solid #0D4CD3;
      }
    }
  }
}

