$color-active-item: #1D5DEB;
$color-background: #FAFCFF;
$color-bg-disabled: #D1D5DF;
$color-blu-selvaggio: #9DACCE;
$color-divider: #99B1E6;
$color-gosblue: #0D4CD3;
$color-gosblue: #0D4CD3;
$color-gosred: #EE3F58;
$color-input: #F5F7FA;
$color-summer-night: #0B1F33;
$color-telegrey-scuro: #86909C;

