@use 'assets/styles/palette' as palette;

@import 'assets/styles/reset';
@import 'assets/styles/fonts';
@import 'assets/styles/input';

body, .app-root {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background: palette.$color-background;
}

.container {
  box-sizing: border-box;
  padding: 0 16px;
  margin: 0 auto;
}

@media all and (min-width: 1216px) {
  .container {
    max-width: 1216px;
    padding: 0;
  }
}
