<!--Файл не трогаем-->

<div class="container service-wrapper">
  <section>
    <app-steps [steps]="steps" [activeStep]="active"></app-steps>
  </section>

  <section class="form-wrapper">
    <div class="fields-wrapper" [formGroup]="form">
      <div class="field-wrapper" [hidden]="active !== 0">
        <div class="field">
          <div>
            <p class="label">Кличка</p>
            @if (getControl('name')?.errors && getControl('name')?.touched) {
              @if (getControl('name').errors?.['required']) {
                <p class="error">Поле обязательно для заполнения</p>
              }
              @if (getControl('name').errors?.['pattern']) {
                <p class="error">Допустимые символы: буквы русского алфавита</p>
              }
            }
          </div>
          <input formControlName="name" (invalid)="getControl('name').invalid">
        </div>
        <div class="field">
          <div>
            <p class="label">Возраст</p>
            @if (getControl('age')?.errors && getControl('age')?.touched) {
              @if (getControl('age').errors?.['required']) {
                <p class="error">Поле обязательно для заполнения</p>
              }
              @if (getControl('age').errors?.['pattern']) {
                <p class="error">Допустимые символы: цифры</p>
              }
            }
          </div>
          <input formControlName="age">
        </div>
      </div>

      @if (active === 1) {
        <app-check-info [data]="getResult()" [steps]="steps"></app-check-info>
      }
    </div>
  </section>

  <section class="buttons-wrapper">
    <button [disabled]="active === 0" (click)="prev()">Назад</button>
    @if (active < steps?.length - 1) {
      <button [disabled]="!isValidStep()" (click)="next()">Далее</button>
    } @else if (active === steps?.length - 1) {
      <button (click)="save()">Сохранить</button>
    }
  </section>
</div>
