@mixin flex-classes($prefix) {
  .flex-container#{$prefix} {
    display: flex;
  }

  .justify-center#{$prefix} {
    justify-content: center;
  }

  .justify-between#{$prefix} {
    justify-content: space-between;
  }

  .align-items-center#{$prefix} {
    align-items: center;
  }

  .flex-1#{$prefix} {
    flex: 1;
  }

  .flex-0#{$prefix} {
    flex: 0 0 auto;
  }
}

@include flex-classes('');

@media all and (min-width: 1216px) {
  @include flex-classes('-lg');
}
