// Файл не трогаем

@use 'palette' as palette;

input, select, textarea {
  width: 100%;
  height: 52px;
  text-overflow: ellipsis;
  border: none;
  border-radius: 4px;
  padding-left: 16px;
  padding-right: 16px;
  outline: none;
  background: palette.$color-input;

  &:focus {
    padding-left: 14px;
    border: 2px solid palette.$color-divider;
  }

  &:disabled {
    background: palette.$color-bg-disabled;
    color: palette.$color-telegrey-scuro;
    -webkit-text-fill-color: palette.$color-telegrey-scuro;
    opacity: 1;
  }

  &:invalid {
    background: rgba(238, 63, 88, 0.16);
  }

  &::placeholder {
    color: palette.$color-blu-selvaggio;
  }
}

select {
  background-image: url("../svg/icons/expand_more.svg");
  background-repeat: no-repeat;
  background-position: right 12px top 50%, 0 0;
  appearance: none;
  font-family: Lato, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;

  /*option {
    height: 52px;
    text-overflow: ellipsis;
    padding-left: 16px;
    padding-right: 16px;
    background: palette.$color-input;
  }*/
}

textarea {
  height: 120px;
  resize: none;
}
